<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/my_cv.png" class="img-thumbnail rounded-circle" style="width: 200px;" alt="Ade Fathi Amirrasyid">
            <h1 class="display-4">Ade Fathi Amirrasyid</h1>
            <p class="lead">Lecturer | Frontend Developer</p>
        </div>
    </div>
</div>